* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #1f1e1e;
  color: #fff;
 
}
.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: max-content;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20250205/pngtree-soft-pastel-floral-design-light-blue-background-image_16896113.jpg);
  background-position: center;
  background-size: cover;
  color: black;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.profile-img img {
  height: 150px;
  width: 150px;
  border: 4px solid whitesmoke;
  border-radius: 50%;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.intro h1 {
  font-size: 20px;
  font-weight: 600;
}
.intro h3 {
  font-size: 13px;
  font-weight: normal;
}
.intro p {
  font-size: 12px;
  color: rgb(103, 99, 99);
}

.details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px 20px;
  background-color: rgb(194, 228, 228);
  border: none;
  border-radius: 10px;
}
.sub-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  font-weight: normal;
  font-size: 15px;
  border-right: 1px solid rgb(93, 92, 92);
}
.details .sub-details:last-child {
  border-right: none;
}
.sub-details span {
  font-size: 12px;
  color: rgb(103, 99, 99);
}

.followers {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
  color: rgb(62, 60, 60);
}
.followers em {
  font-style: normal;
  color: rgb(103, 99, 99);
}

.follow-btn button {
  cursor: pointer;
  padding: 10px 40px;
  font-size: 15px;
  background: linear-gradient(90deg, #dfacac, #f2f299, #62def1);
  border: 1px solid white;
  border-radius: 20px;
}
.scroller{
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 30px;
}

.scroller div{
  height: 8.5px;
  width: 8.5px;
  background-color: rgb(148, 148, 145);
  border: 1px solid rgb(193, 181, 181);
  border-radius: 50%;
}
.scroller :first-child{
  background-color: rgb(9, 68, 231);
}
