* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: #ffff;
}

.posters {
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  color: black;
}
.navbar{
  margin: 5px;
  padding: 10px;
  background-color: yellowgreen;
  color: black;
  
}
