* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
}
.content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.parent {
  width: 300px;
  padding: 20px;
  border: 1px solid whitesmoke;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.parent button{
  margin: 5px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(44, 126, 126);
}
.parent p{
  padding: 10px;
}
.parent img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}